@font-face {
    font-family: 'VAIO';
    src: url('/VAIO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMHANNAProOTF';
    src: url('/BMHANNAProOTF.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.landing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .landing-bg {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        .bg-track {
            display: flex;
            height: 100%;
            width: 100%;
            gap: 0;
            div {
                position: relative;
                flex: 1;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
                &::after{
                    content:"";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.4);
                    display: block;
                    z-index: 0;
                    top:0;
                    left: 0;
                }
            }
        }
    }
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .t-wrap {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-bottom: 10px; /* Space between logo and paragraph */
            }

            p {
                font-family: 'BMHANNAProOTF', sans-serif;
            }
        }

        .vaio-font {
            font-family: 'VAIO', sans-serif;
        }

        .btn.intro {
            position: static;
            top: auto;
            left: auto;
        }
    }
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }

}